.carrbtn {
  text-align: center;
  align-self: center;
}

.totprodotti {
  margin: auto;
  text-align: center;
  max-width: 300px;
}

.carrello {
  background-color: #444140;
  margin-top: 1rem;
  overflow-x: hidden;
}

.carrello-footer {
  background-color: #444140;
  margin-top: 1rem;
}
